*
{
    box-sizing: border-box;
}

body
{
 background-color: black;
 font-family: Candara, Helvetica, sans-serif;
 margin: 0;
 padding: 10px 50px 50px 50px;
}

header h1
{
 font-size: 80px;
}

#logo
{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: gold;
    text-shadow: 2px 5px 2px darkgoldenrod ;
}

.menu
{
    background-color: gold;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 5px darkgoldenrod;
}
.menu a
{
    padding: 10px;
    font-size: large;
    color: black;
    text-decoration: none;
}
.menu a:hover
{
    color: white ;
}

.boasvindas
{
    color: gold;
    font-size: large;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.colunaEsquerda
{
     float: left;
     width: 100%; 
     color: black;
}

.cardEsquerda
{
    background-color: gold;
    padding: 20px;
    box-shadow: 2px 5px 2px goldenrod;
}

#maisVendido
{
    height: 200px;
    background-image: url('images/pepideOuroSN.jpg');
    background-size: 110%;
    position: relative;   
    cursor: pointer;
}
#h3MaisVendido
{
    position: absolute;
    top: 0;
    left:0px;
}

#h4Nome
{
    position: absolute;
    bottom: 0;
    right: 100px;
}




